<%= content_for :header_title do %>

   About us

<% end %>

<%= content_for :header_sub_title do %>

   Who we are

<% end %>

<font color="WHITE">
  
  <h2>Acerca de Nosotros</h2>
  
  
<h1>Misión</h1>

<p>Brindar un sitio atractivo y exclusivo con horarios extendidos y de muy buen ambiente, ofreciendo a nuestros visitantes una atmósfera alegre y de distracción acompañada  de productos de calidad, música selecta y excelente servicio. Un lugar donde los clientes deseen regresar, donde buscamos generar seguidores incondicionales del buen gusto,  con lo cual contribuimos a nuestro crecimiento y mejora día a día.</p>

<p>Como dice nuestro slogan… Karaoke Play ... The Best Service! … nuestra razón de ser son nuestros clientes, y por ello daremos la mejor atención.</p>

<h1>Visión</h1>

<p>Ser líderes en el mercado reconocidos como el mejor Karaoke a nivel nacional  y crecer a través de Franquicias en Latinoamérica, llevando nuestro plan de trabajo y experiencia a mercados internacionales,  conservando nuestras fortalezas y ampliando nuestras alternativas de mejora para mantener la atracción y preferencia de nuestros clientes, proyectando un crecimiento constante.</p>

<p>Cultivar un ambiente donde sus trabajadores sean capacitados y motivados a desarrollar su más alto potencial de productividad y creatividad, para que, quienes laboran con nosotros mantengan compromiso, lealtad y orgullo, alcanzando así la más alta satisfacción en el trabajo. Ser una empresa capaz de alcanzar retos con una estructura dinámica que promueva inversiones con potencial de desarrollo y rentabilidad.</p> 

<p>Administrar adecuadamente sus recursos, orientándolos hacia el respeto por el medio ambiente y al mejoramiento de la sociedad. Contribuir con el desarrollo del estado mediante su permanencia en el marco económico estatal y su participación en el mercado nacional, actuando conforme a principios éticos y disposiciones legales.</p>

<h2>Nuestros Valores<h2> 

<li>RESPONSABILIDAD</li>
<li>HONESTIDAD</li>
<li>RESPETO</li>
<li>CORTESIA</li>
<li>EMPATIA</li>
<li>CREATIVIDAD</li>

</font>