<%= content_for :header_title do %>

   Frequently Asked Questions

<% end %>

<%= content_for :header_sub_title do %>

   Your doubts, clarified

<% end %>
<font color="WHITE">

<font color="GRAY"> <p><strong>Se pueden reservar mesas, pero se pueden reservar espacios para cantar en "privado" con grupos de aproximadamente 5 o 6 personas?</strong></p></font>

<li>Se pueden reservar mesas para todo publico como salas VIP  para grupos que deseen tener una mayor privacidad con capacidad de 5 personas por sala.</li>
<p></p>
<font color="GRAY"><p><strong>Se permiten personas menores de edad en KaraokePlay?</strong></p></font>

<li>Si, el ingreso para las personas con edades entre los 16-18 a침os es permitida, pero su estadia ser치 hasta la media noche y no se les vender치 bebidas alcoholicas a menos que cuenten con la mayoria de edad.</li>
<p></p>
<font color="GRAY"><p><strong>Cuanto vale la entrada al Karaoke?</strong></p></font>

<li>La entrada es libre hasta antes de la medianoche pasado esa hora se les cobrar치 el ingreso al Karaoke al precio de 10 nuevos soles la entrada.</li>

</font>