<form action="">
  
<style type="text/css">
## aqui pondremos el estilo que querramos solo aplicara a la pagina web de esta seccion
</style>

  <h2><span class="entypo-login"></span> Login</h2>
  <button class="submit"><span class="entypo-login"><img src="http://www.stjosephcoed.org/img/cce-login.png" width="37" height="37"/></span></button>
  <span class="entypo-user inputUserIcon"></span>
  <input type="text" class="user" placeholder="ursername"/>
  <span class="entypo-key inputPassIcon"></span>
  <input type="password" class="pass"placeholder="password"/>

</form>