<form action="action_page.php">
  <div class="imgcontainer">
    <img src="https://cdn4.iconfinder.com/data/icons/security-overcolor/512/access_key-512.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
</div>
  <div class="container">
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
</div>

  <div>
  <button type="submit">Login</button>
    <input type="checkbox" checked="checked"> Remember me
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>