<%= content_for :header_title do %>

   Terms of Service

<% end %>

<%= content_for :header_sub_title do %>

   Important information about our offer

<% end %>
<font color="WHITE">
<h2>Es muy importante que conozcas los Términos y condiciones, por lo que te pediremos especial atención y que sea de tu agrado la descripción que a continuación leerás.</h2> 

<h1>Introducción</h1>

<p>KaraokePlay es una aplicación para plataformas webs, mobile, SmartTV u otras plataformas que tienen conexión a internet. Creada y operada por Karaoke sociedad debidamente constituida bajo las leyes. Inscripta correctamente.</p>
</font>