/* Bordered form */
form {
    border: 10px solid #f1f1f1;
    width: 73%;
}

/* Full-width inputs */
input[type=text],
input[type=password] {
    width: 60%;
    padding: 5px 5px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 10px 0 6px 0;
}

/* Avatar image */
img.avatar {
    width: 10%;
    border-radius: 10%;
}

/* Add padding to containers */
.container {
    padding: 5px;
    width: 75%;
}

/* The "Forgot password" text */
span.psw {
    float: left;
    padding-top: 10px;
    padding-right: 20px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
        width: 50%;
    }
    .cancelbtn {
        width: 50%;
    }
}